                /* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

                /* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

                /* BORDER-BOX SIZING */

* {
    box-sizing: border-box;
}

              /* Single-direction margin declaration to establish vertical rhythm. */

h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}


          /*========== BASE STYLES ===========*/


body {
  width: 100%;
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;

}

a {
  font-family: 'Six Caps', sans-serif;
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

article {
  width: 90%;
  margin: 20px;
}


   /*============ HEADER STYLES ===========*/



.box-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.box-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.box-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0; /* To negate the effect of the single-direction margin declaration. */
}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}


        /* ============= HEADER NAV STYLES ============ */

.header-nav {
  background-color: rgba(150, 189, 224);
  padding: 1rem;
}

.header-nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
  display: block;
  padding: .5rem 1rem;
  color: #fff;
}

.header-nav a:hover {
  color: hsl(0, 0%, 77%);
  transition: color .15s ease-in-out;
}

.sign-up {
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 9999px;
}

.sign-up:hover {
  color: #000;
  background-color: #fff;
  transition: background-color .15s ease-in-out;
}

@media (min-width: 768px) {

  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-nav a {
    float: right;
  }

  .home {
    float: left;
  }

    /* Clearfix */
    nav::after {
      content: "";
      clear: both;
      display: block;
    }

}

section {
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 768px) {

  section {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

}

p {
  margin-bottom: 1.25rem;
  padding: .5rem;
}


        /*============ VACUUM STYLES ===========*/



.vacuum {
	background-color: transparent-black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


        /*============ CONTENT STYLES ===========*/


.content1 {
	background-color: hsla(20, 0%, 50%, .7);
	padding: 20px;
}


.content2 {
    background-color: hsla(20, 0%, 50%, .7);
    padding: 20px;
}


.content3 {
    background-color: hsla(20, 0%, 50%, .7);
    padding: 20px;
}

.content4 {
	background-color: hsla(20, 0%, 50%, .7);
	padding: 20px;
}

.content5 {
	background-color: hsla(20, 0%, 50%, .7);
	padding: 20px;
}


        /*============ TITLE STYLES ===========*/


#Phillycim {font-family: 'Six Caps', sans-serif;
	color: #bbc4c9;
	font-size: 45px;
}


#html5cim {font-family: 'Six Caps', sans-serif;
	color: black;
	font-size: 45px;
}


#titles {
	font-family: 'Six Caps', sans-serif;
	color: black;
	font-size: 45px;
}


        
          /*============ VIDEO STYLES ===========*/

figure {
    height: 0;
    padding-bottom: 20.25%; /* 16:9 aspect ratio */
    position: relative;
    min-height: 200px;
    min-width: 340px;
    max-width: 500px;
    max-height: 270px;
}

figure iframe {
	position: absolute;
	width: 100%;
    height: 100%;
}



          /*============  FOOTER STYLES ===========*/




footer {
  background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
    height: 8rem;
    text-align: center;
    display: table;
    width: 100vw;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ccc;
    letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  text-decoration: none;
  color: #c74f78;
    margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}

strong {
  font-weight: 700;
}
