                /* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

                /* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

                /* BORDER-BOX SIZING */

* {
    box-sizing: border-box;
}

              /* Single-direction margin declaration to establish vertical rhythm. */

h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}


          /*========== BASE STYLES ===========*/


body {
  width: 100%;
  font-size: 1rem;
  font-family:  'Arial', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Lato', sans-serif;
  padding-bottom: 0px;
}

        /* ============= HEADER NAV STYLES ============ */

.header-nav {
  background-color: rgba(158, 189, 234);
  padding: 0rem;
  letter-spacing: .1rem;
  text-decoration-style: hsla(25, 20%, 78%, 0.50);
}

ul {
  border: 0px;
  padding: 0px;
  margin: 0rem;
}

.header-nav a {
  text-decoration: ;
  display: block;
  padding: .3rem 2rem;
  color: #fff;
}

.active {
  background-color: rgba(28, 18, 64);
}

.header-nav a:hover {
  background-color:  rgba(28, 18, 64);
  transition:  .12s ease-in-out;
}

.socials li {
  display: inline-block;
  
}


.header-nav {
  text-align: center;
}

   /*============ HEADER STYLES ===========*/


.box-text {
  background: rgba(28, 18, 64);
  text-align: center;
  height: 240px;
  padding-top: 2.4rem;
}

.box-text h1 {
  font-size: 6rem;
  font-family: 'Six Caps', sans-serif;
  color: white;
  letter-spacing: .1rem;
  margin-bottom: 2.5rem; /* 0 is to negate the effect of the single-direction margin declaration. */
}

.date {
  font-size: 14px;
  letter-spacing: .2rem;
  vertical-align: left;
    color: white;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.2rem;
vertical-align: middle;
  margin: 0 .5rem;
}


      /*============ MAIN STYLES ===========*/


.picture {
  width: 90%;
  margin: 5%;
}

main {
  padding: 1rem;
  background-color: white;
}

.posted {
  font-size: 13px;
  letter-spacing: .01rem;
  vertical-align: left;
  color: lightslategray;
  opacity: 0.6;
}

.posted::before,
.posted::after {
    display: inline-block;
  content: "";
  background-color: lightgrey;
  height: .7px;
  width: 2rem;
vertical-align: middle;
  margin: .3rem;
  opacity: 0.6;
}

.titles {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.picpost {
  margin-top: 2.5rem;
}

.newpost {
   margin-top: 5rem;
}


.show-more {
  padding: 4rem;
  }


main p {
  font-family: 'Quattrocento', serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
}


#more {display: none;}


button {
  
}

/* ==== HELPER COLORS FOR MAIN ==== */



     

  /*============ VIDEO STYLES =============*/


 figure {
   padding: 3rem;
}



          /*============  FOOTER STYLES ===========*/




footer {
  background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
    text-align: center;
    padding: 2rem;
}

footer small {
  color: lightgrey;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  text-decoration: none;
  color: #c74f78;
    margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color .13s ease-in-out;
}

strong {
  font-weight: 700;
}



          /*============  MEDIA QUERIES ===========*/



@media (min-width: 768px) {

  .header-nav {
    top: 0rem;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    font-size: 0.85rem;
    position:fixed;
  }

    .header-nav ul {
    display: inline-block;
      margin: 0rem;
      padding: 0rem;
  }
  
  
  .header-nav li {
    display: inline-block;
    width: 7.8rem;
  }
  
  
  .header-nav a {
    text-align: center;
    padding: 1rem;
    margin: 0rem;
  }
  
  .socials li {
    display: inline-block;
    width: 4rem;
  }
  
}


@media (min-width: 768px) {

  .box-text-wrapper {
    width: 100%;
    margin-top: 3.34rem;
  }
  
  

@media (min-width: 768px) {

  .main-wrapper {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

}

p {
  margin-bottom: 1.25rem;
  padding: .5rem;
}
